<div>
    <h3>Recent Activities</h3>
    <hr>
    {% for message in space_messages %}
    <div>
        <small><a href="{% url 'user-profile' message.user.id %}">
        <a href="{% url 'user-profile' user.id %}">
        <img class="img-profile" src="{{message.user.avatar.url}}" alt="Profile">
        <span class="name">@{{message.user.username}}</span></p> </a>  </small>
        <p><small class="time-created">Replied to </small> <a class="space-link" 
            href="{% url 'space' message.space.id %}">"{{message.space  }}"</a></p> 
        <p><small>{{message}} </small></p>
        <small class="time-created">{{message.created|timesince}} ago.</small>
       
        {% if request.user == message.user %}
            <a class="delete-link" href="{%url 'delete-message' message.id%}">Delete</a> 
            {% endif %}
            <hr>
    </div>
    {% endfor %}
    <div class="more">
    <small>more</small>
    <div class="more-buton">
        <a href="{% url 'activities-page'%}"> 
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        transform="rotate(180)">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
        stroke-linecap="round" stroke-linejoin="round">
        </g><g id="SVGRepo_iconCarrier"> <path d="M12.0001 9.32C13.1901 9.32 14.1601 
        8.35 14.1601 7.16C14.1601 5.97 13.1901 5 12.0001
        5C10.8101 5 9.84009 5.97 9.84009 7.16C9.84009 8.35 10.8101 9.32 12.0001 
        9.32Z" stroke="#ffffff" stroke-width="1.5" 
        stroke-linecap="round" stroke-linejoin="round"></path> 
        <path d="M6.78988 18.9999C7.97988 18.9999 8.94988 18.0299
        8.94988 16.8399C8.94988 15.6499 7.97988 14.6799 6.78988 14.6799C5.59988 
        14.6799 4.62988 15.6499 4.62988 
        16.8399C4.62988 18.0299 5.58988 18.9999 6.78988 18.9999Z" stroke="#ffffff" 
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
        <path d="M17.21 18.9999C18.4 18.9999 19.37 18.0299 19.37 16.8399C19.37 15.6499 
        18.4 14.6799 17.21 14.6799C16.02 14.6799 15.05 15.6499 15.05 16.8399C15.05 
        18.0299 16.02 18.9999 17.21 18.9999Z" stroke="#ffffff" stroke-width="1.5" 
        stroke-linecap="round" stroke-linejoin="round">
        </path> </g></svg></a>
     </div>
    </div>
</div>